In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\97798\Desktop\Feature Engineering\Categorical data\Pokemon.csv")

In [4]:
data.drop('#', axis=1, inplace=True)

In [5]:
data

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
data.Generation  = data.Generation.map(
    {
        1:'Gen 1',
        2:'Gen 2',
        3:'Gen 3',
        4:'Gen 4',
        5:'Gen 5',
        6:'Gen 6'
    }
)

In [11]:
data.Generation

0      Gen 1
1      Gen 1
2      Gen 1
3      Gen 1
4      Gen 1
       ...
795    Gen 6
796    Gen 6
797    Gen 6
798    Gen 6
799    Gen 6
Name: Generation, Length: 800, dtype: object

In [22]:
from sklearn.feature_extraction import FeatureHasher

fh = FeatureHasher(n_features=5, input_type='string')
hashed_features = fh.fit_transform(data['Generation'])
hashed_features = hashed_features.toarray()
new_df = pd.DataFrame(hashed_features)

pd.concat([data, new_df],axis =1)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,0,1,2,3,4
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False,0.0,0.0,0.0,0.0,1.0
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False,0.0,0.0,0.0,0.0,1.0
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False,0.0,0.0,0.0,0.0,1.0
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False,0.0,0.0,0.0,0.0,1.0
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Gen 6,True,1.0,0.0,1.0,0.0,1.0
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Gen 6,True,1.0,0.0,1.0,0.0,1.0
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Gen 6,True,1.0,0.0,1.0,0.0,1.0
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Gen 6,True,1.0,0.0,1.0,0.0,1.0
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,Gen 6,True,1.0,0.0,1.0,0.0,1.0

In [14]:
pd.get_dummies(data.Generation)

     Gen 1  Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
0        1      0      0      0      0      0
1        1      0      0      0      0      0
2        1      0      0      0      0      0
3        1      0      0      0      0      0
4        1      0      0      0      0      0
..     ...    ...    ...    ...    ...    ...
795      0      0      0      0      0      1
796      0      0      0      0      0      1
797      0      0      0      0      0      1
798      0      0      0      0      0      1
799      0      0      0      0      0      1

[800 rows x 6 columns]